/*---------------------------------------------------- import Fonts ----------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --blk: rgb(24, 24, 24);
  --demblk: rgb(70, 70, 70);
  --orng: #ff3c00;
  --white: rgb(255, 255, 255);
  --fntwit: 400;
  --pera: rgb(107, 107, 107);
  --dim-blk: rgb(194, 194, 194);
  --ftr-white: rgb(201, 201, 201);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--fntwit);
  font-style: normal;
  color: var(--blk);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
  font-weight: var(--fntwit);
}

p {
  line-height: 1.5;
  color: var(--pera);
}

input, button {
  border: none;
}

.btn {
  display: inline-block;
  background-color: var(--orng);
  padding: 0.7rem 1.5rem;
  border-radius: 3px;
  color: var(--white);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-justify-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-justify-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 36% 60%;
      grid-template-columns: 36% 60%;
  padding-bottom: 3rem;
  gap: 4%;
}

section:nth-of-type(1) {
  margin-bottom: 2rem;
}

section:not(:nth-of-type(1)) {
  padding: 3rem 0;
}

/***********************************************
Header Area
************************************************/
header {
  position: relative;
  z-index: 99999;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
}

.header-top::before {
  content: "";
  height: 100%;
  width: 60%;
  background: var(--orng);
  position: absolute;
  top: 0;
  left: -20px;
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  z-index: 1;
}

.header-top {
  background-color: #242424;
  position: relative;
}

.header-top .header-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  width: 60%;
}

.header-top .header-top-left a {
  font-size: 0.95rem;
}

.header-top span {
  z-index: 2;
}

.header-top span a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem 0;
  gap: 0.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top span i {
  font-size: 1rem;
}

.header-top .header-top-right i {
  font-size: 0.9rem;
}

.header-bottom {
  background-color: var(--white);
}

.header-bottom .container {
  padding: 1rem 0;
}

.nav-links ul {
  gap: 1.2rem;
}

.nav-links li:not(:nth-of-type(6)) {
  padding: 0 0.2rem;
}

.nav-links ul li a {
  color: var(--blk);
}

.nav-links i {
  color: #c5c5c5;
}

.nav-links .btn {
  margin-left: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-links .btn:hover {
  background-color: #c53104;
}

.nav-social-links,
.header-bottom ul i:last-child {
  display: none;
}

/***********************************************
Hero Area
************************************************/
.hero-section {
  background: url(assets/images/hero/hero-bg.jpg) no-repeat center/cover;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.hero-section .flex-row {
  height: 700px;
  width: 100%;
}

.hero-section .btn {
  display: inline-block;
}

.hero-anime-rotate img:first-child {
  position: absolute;
  top: 4rem;
  left: -3rem;
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
}

.hero-anime-rotate img:last-child {
  position: absolute;
  top: 12rem;
  right: 12rem;
  -webkit-animation: rotate 15s linear infinite;
          animation: rotate 15s linear infinite;
}

.hero-anime-cycle img {
  position: absolute;
  top: 24rem;
  left: 12rem;
  -webkit-animation: cycle 1.5s linear infinite alternate;
          animation: cycle 1.5s linear infinite alternate;
}

.hero-left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
}

.hero-left h1,
.hero-left h4,
.hero-left h6 {
  padding-bottom: 2rem;
  display: inline-block;
}

.hero-left h4::before {
  content: "";
  position: absolute;
  background-color: var(--orng);
  width: 100%;
  height: 2px;
}

.hero-left h4 {
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
}

.hero-left h1 {
  font-size: 3.4rem;
}

.hero-left h6 {
  font-size: 1.3rem;
  color: #5a5a5a;
  font-weight: 300;
}

.hero-left .btn {
  display: inline-block;
  padding: 1rem 3rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.hero-left .btn:hover {
  background-color: var(--white);
  color: var(--orng);
}

.hero-right {
  width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-right img {
  max-width: 660px;
}

/***********************************************
About Area & Choose Area
************************************************/
.about .flex-row,
.choose .flex-row {
  gap: 2rem;
}

.about-left,
.choose-left,
.about-right,
.choose-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.about-left img,
.choose-left img {
  width: 100%;
}

.about h6,
.choose h6 {
  color: var(--orng);
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  font-style: italic;
}

.about h3,
.choose h3 {
  font-size: 2rem;
}

.about h2,
.choose h2 {
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 3rem;
}

.about h2 span,
.choose h2 span {
  color: var(--orng);
}

.about h2::before, .about h2::after,
.choose h2::before,
.choose h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 4px;
  width: 30px;
  background-color: var(--orng);
  z-index: 1;
}

.about h2::before,
.choose h2::before {
  left: 5px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.about h2::after,
.choose h2::after {
  left: 15px;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.about p,
.choose p {
  color: var(--pera);
  font-style: italic;
  padding-bottom: 1rem;
}

.single-content .flex-row {
  gap: 2rem;
}

.single-content h5 {
  font-size: 1.3rem;
  color: var(--demblk);
  margin-bottom: 0.5rem;
}

.single-content i {
  color: var(--orng);
  font-size: 2.5rem;
}

/***********************************************
Service Area
************************************************/
.service h6,
.team h6 {
  color: var(--orng);
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  font-style: italic;
}

.service h3,
.team h3 {
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.service p,
.team p {
  font-style: normal;
  font-size: 1.05rem;
  margin-bottom: 1rem;
  color: var(--pera);
}

.service .flex-row,
.team .flex-row {
  gap: 27px;
}

.service h2,
.team h2 {
  font-size: 2rem;
}

.service-bottom .owl-dots {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.service-bottom .owl-dots .owl-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--dim-blk);
}

.service-bottom .owl-dots .active {
  background-color: var(--orng) !important;
}

.service-single-item {
  display: inline-block;
  padding: 1rem;
}

.service-single-item .single-item-content {
  padding: 0 1rem;
}

.service-single-item img {
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
}

.service-btn {
  overflow: hidden;
}

.service-btn a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--blk);
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-weight: 500;
}

.service-btn a span {
  color: var(--white);
  z-index: 2;
}

.service-btn a::after {
  content: "";
  position: absolute;
  background-color: var(--orng);
  right: -20px;
  top: 0;
  height: 100%;
  width: 100px;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  z-index: 1;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.service-btn a:hover {
  background-color: var(--orng);
  color: var(--white);
}

.service-btn a:hover::after {
  background-color: var(--blk);
}

/***********************************************
Choose Area
************************************************/
.choose {
  background-image: url(assets/images/choose-us/ch-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white);
}

.choose > .flex-row {
  gap: 4rem;
}

.choose :is(h1, h2, h3, h4, h5, h6, p) {
  color: var(--white);
}

.choose-right {
  margin-top: 4rem;
}

/***********************************************
Team Area
************************************************/
.team-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 4rem;
}

.single-team-member {
  position: relative;
  margin: 0.8rem;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  height: 100%;
}

.single-team-member h2 {
  font-size: 1.3rem;
}

.member-img {
  font-size: 0;
  line-height: 0;
}

.member-img img {
  max-width: 340px;
  width: 100%;
}

.single-team-member::before {
  content: "";
  background-color: var(--orng);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.member-info {
  font-family: "fira sans", sans-serif;
  position: absolute;
  width: 15rem;
  height: 5rem;
  background-color: var(--white);
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.member-info h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.member-info h6 {
  font-size: 0.8rem;
  color: var(--orng);
  font-style: normal;
  font-weight: 400;
}

.member-links {
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1.5rem 1rem;
  background-color: white;
  border-radius: 5px 0px 0px 5px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  opacity: 0;
}

.member-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
}

.member-links i {
  color: var(--blk);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.member-links i:hover {
  color: var(--orng);
}

.single-team-member:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.single-team-member:hover .member-links {
  right: -1px;
  opacity: 1;
}

.single-team-member:hover::before {
  opacity: 0.7;
}

/***********************************************
Apointment Area
************************************************/
.apointment .flex-row {
  position: relative;
}

.apointment input,
.apointment textarea {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  outline: none;
  margin-bottom: 2rem;
}

.apointment :is(input, textarea)::-webkit-input-placeholder {
  color: var(--blk);
  font-size: 1rem;
  font-weight: 400;
}

.apointment :is(input, textarea):-ms-input-placeholder {
  color: var(--blk);
  font-size: 1rem;
  font-weight: 400;
}

.apointment :is(input, textarea)::-ms-input-placeholder {
  color: var(--blk);
  font-size: 1rem;
  font-weight: 400;
}

.apointment :is(input, textarea)::placeholder {
  color: var(--blk);
  font-size: 1rem;
  font-weight: 400;
}

.apointment :is(input, textarea):focus {
  -webkit-box-shadow: 0 0 0 3px rgba(241, 42, 2, 0.25);
          box-shadow: 0 0 0 3px rgba(241, 42, 2, 0.25);
  border: 1px solid var(--orng);
}

.apointment input {
  height: 3rem;
  border-radius: 5px;
  padding: 2rem 1rem;
}

.apointment textarea {
  resize: vertical;
  padding: 1rem;
  font-weight: 900;
}

.apointment .btn {
  padding: 1.3rem 0;
  border: none;
  font-size: 1.2rem;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
}

.apointment .btn:hover {
  background-color: var(--white);
  color: var(--orng);
  border: 1px solid var(--dim-blk);
  -webkit-box-shadow: 0 0 0 1px var(--dim-blk);
          box-shadow: 0 0 0 1px var(--dim-blk);
}

.apointment-left {
  width: 55%;
  line-height: 0;
  font-size: 0;
}

.apointment-left img {
  width: 100%;
}

.apointment-right {
  padding: 1.5rem;
  width: 45%;
}

.apointment-right h2 {
  font-size: 1.8rem;
}

.apointment-right button {
  cursor: pointer;
}

.apointment-abs {
  background-color: var(--white);
  margin-left: -8rem;
  padding: 1rem 2rem;
}

.apointment-right-header {
  text-align: center;
  margin-bottom: 4rem;
}

/***********************************************
Header Area
************************************************/
.project .grid-top {
  padding: 0;
}

.project-content {
  padding: 4rem 0;
  color: var(--white);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 60, 0, 0.87)), to(rgba(241, 141, 1, 0.87))), #f4f7fc url(assets/images/case-study/pd-sh.jpg) center center/cover no-repeat scroll;
  background: linear-gradient(360deg, rgba(255, 60, 0, 0.87), rgba(241, 141, 1, 0.87)), #f4f7fc url(assets/images/case-study/pd-sh.jpg) center center/cover no-repeat scroll;
}

.project-content p {
  color: var(--white);
  font-size: 1.2rem;
  line-height: 1.5;
}

.project-content-left,
.project-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-bottom {
  margin-top: 1rem;
}

.project-bottom .owl-dots {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.project-bottom .owl-dots .owl-dot {
  height: 6px;
  width: 22px;
  border-radius: 10px;
  background-color: #c5c5c5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-bottom .owl-dots .active {
  background-color: var(--orng) !important;
  width: 35px;
}

.project-single-item {
  padding: 0 1rem;
}

.project-single-item .item-inner {
  overflow: hidden;
  position: relative;
}

.project-single-item .item-inner::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  opacity: 0;
}

.project-single-item .content {
  position: absolute;
  width: 100%;
  background-color: var(--orng);
  bottom: -5rem;
  padding: 1.5rem 0;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.project-single-item:hover .item-inner::before {
  opacity: 0.5;
}

.project-single-item:hover .content {
  opacity: 1;
  bottom: 0;
}

/***********************************************
Work Area
************************************************/
.work-top, .blog-top {
  text-align: center;
}

.work-top h3, .blog-top h3 {
  color: var(--orng);
  font-size: 1.2rem;
}

.work-top h2, .blog-top h2 {
  font-size: 2.5rem;
}

.work-top .bar, .blog-top .bar {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.work-top .bar::before, .work-top .bar::after, .blog-top .bar::before, .blog-top .bar::after {
  content: "";
  position: absolute;
  background-color: var(--orng);
  height: 5px;
  width: 32px;
}

.work-top .bar::before, .blog-top .bar::before {
  left: -15px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.work-top .bar::after, .blog-top .bar::after {
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.work-top h2 span, .blog-top h2 span {
  color: var(--orng);
}

.work-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.work-single-item {
  padding: 0 1rem;
  text-align: center;
}

.work-single-item img {
  border-radius: 50%;
  padding: 0.5rem;
  border: 3px solid transparent;
  margin-bottom: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.work-single-item h3 {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
}

.work-img {
  position: relative;
  display: inline-block;
}

.work-img .number {
  position: absolute;
  background-color: var(--orng);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 2;
  top: 50%;
  left: -22%;
  -webkit-transform: translate(50%, -22%);
          transform: translate(50%, -22%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.work-img .number::before,
.work-img .number::after {
  content: "";
  position: absolute;
  background-color: var(--orng);
  border-radius: 50%;
}

.work-img .number::before {
  opacity: 0.6;
  height: 60px;
  width: 60px;
}

.work-img .number::after {
  opacity: 0.4;
  height: 85px;
  width: 85px;
}

.work-img span {
  color: var(--white);
  font-style: 1.4rem;
  z-index: 2;
}

.work-single-item:hover img {
  border: 3px solid var(--orng);
}

.work-single-item:hover .number {
  top: 35%;
}

/***********************************************
Header Area
************************************************/
.testimonial {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 26, 58, 0.75)), to(rgba(17, 26, 58, 0.75))), transparent url(assets/images/call-do-action/cda1.jpg) no-repeat center/cover;
  background: linear-gradient(rgba(17, 26, 58, 0.75), rgba(17, 26, 58, 0.75)), transparent url(assets/images/call-do-action/cda1.jpg) no-repeat center/cover;
  position: relative;
  margin-bottom: 12rem;
  display: block;
}

.testimonial-top {
  margin: 3rem 0;
  padding-bottom: 10rem;
}

.testimonial-top .video-icon {
  margin-bottom: 1rem;
}

.testimonial-top .icon {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: var(--white);
  border-radius: 50%;
}

.testimonial-top .icon i {
  font-size: 2rem;
  color: var(--orng);
  z-index: 2;
}

.testimonial-top .icon::before {
  content: '';
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  -webkit-animation: round 1.5s ease-in-out infinite;
          animation: round 1.5s ease-in-out infinite;
}

.testimonial-top .content, .testimonial-top p {
  text-align: center;
  color: var(--white);
}

.testimonial-top .content {
  padding: 2rem 0;
}

.testimonial-top .content h3 {
  font-size: 2.5rem;
  font-weight: 900;
}

.testimonial-top .content h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.testimonial-top .content p {
  font-size: 1.1rem;
  width: 60%;
  margin: 0 auto;
}

.testimonial-top .btn {
  font-size: 1.2rem;
  padding: 0.8rem 2.4rem;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.testimonial-top .btn:hover {
  background-color: var(--white);
  color: var(--orng);
}

.testimonial-bottom {
  text-align: center;
  position: absolute;
  bottom: -18rem;
  width: 100%;
}

.team-member {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 5px;
}

.team-member p {
  margin-bottom: 2rem;
  padding: 0 0.5rem 1.5rem 0.5rem;
  position: relative;
}

.team-member p::before, .team-member p::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 24px;
  height: 1px;
}

.team-member p::before {
  background-color: var(--orng);
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

.team-member p::after {
  background-color: var(--dim-blk);
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
}

.team-member h3 {
  font-size: 1.2rem;
}

.team-member h4 {
  color: var(--orng);
}

.team-member .member-view {
  margin-bottom: 2rem;
  position: relative;
}

.team-member .member-view img {
  border-radius: 50%;
}

.team-member .member-view span {
  position: absolute;
  height: 45px;
  width: 45px;
  right: -0.5rem;
  bottom: 0;
  color: var(--white);
  background-color: var(--orng);
  border-radius: 50%;
}

.owl-three .owl-dots {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.owl-three .owl-dots .owl-dot {
  height: 5px;
  width: 30px;
  border-radius: 10px;
  background-color: #c5c5c5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.owl-three .owl-dots .active {
  background-color: var(--orng) !important;
  width: 40px;
}

/***********************************************
Blog Area
************************************************/
.blog {
  margin-top: 22rem;
}

.blog .blog-single-item {
  position: relative;
  margin: 0 1rem 1rem 1rem;
  border-radius: 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

.blog .blog-single-item .img-content .gap {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.blog .blog-single-item .img-content h4 {
  color: var(--white);
  padding: 0.4rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 0.7rem;
  background-color: var(--orng);
  font-weight: 600;
  letter-spacing: 1px;
}

.blog .blog-single-item .content {
  padding: 2rem;
}

.blog .blog-single-item .content h3 {
  font-size: 1.3rem;
}

.blog .blog-single-item .content h3, .blog .blog-single-item .content p {
  margin-bottom: 1.5rem;
}

.blog .blog-single-item .content .blog-btn {
  display: inline-block;
  color: var(--orng);
}

.blog .blog-single-item:hover {
  -webkit-box-shadow: 0 0 40px #c4c4c4;
          box-shadow: 0 0 40px #c4c4c4;
}

.blog-carousel {
  position: relative;
}

.blog-carousel .owl-nav {
  position: absolute;
  top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.blog-carousel .owl-nav i {
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--orng);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.blog-carousel .owl-nav button:first-child {
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
}

.blog-carousel .owl-nav button:last-child {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

.blog-carousel .owl-nav button:hover i {
  background-color: #0b0b3a;
}

/***********************************************
Footer Area
************************************************/
footer {
  background-color: #252628;
  color: var(--white);
}

footer p, footer li, footer a {
  color: var(--ftr-white);
}

.subscribe-section {
  padding: 4rem 0;
  border-bottom: 0.5px solid var(--demblk);
}

.sub-left {
  gap: 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sub-left i {
  color: var(--orng);
  font-size: 3rem;
}

.sub-left h3 {
  font-size: 1.5rem;
}

.sub-right, .sub-left {
  width: 50%;
  padding: 0 1rem;
}

.sub-right form {
  position: relative;
}

.sub-right form input {
  max-height: 3.4rem;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 200;
  width: 100%;
}

.sub-right form input::-webkit-input-placeholder {
  font-size: 1rem;
}

.sub-right form input:-ms-input-placeholder {
  font-size: 1rem;
}

.sub-right form input::-ms-input-placeholder {
  font-size: 1rem;
}

.sub-right form input::placeholder {
  font-size: 1rem;
}

.sub-right form button {
  position: absolute;
  right: 0.3rem;
  height: 2.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.sub-right form button div {
  height: 100%;
  width: 8rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.footer-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 3rem 1rem 4rem 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  border-bottom: 0.5px solid var(--demblk);
}

.footer-main .social-links {
  gap: 1rem;
}

.footer-main .social-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  width: 34px;
  border: 1px solid var(--demblk);
  border-radius: 3px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer-main .social-links a:hover {
  background-color: var(--orng);
  border: 1px solid var(--orng);
}

.footer-main .main-item {
  gap: 2rem;
}

.footer-main .third-info {
  gap: 1.2rem;
}

.footer-main .main-second ul {
  gap: 1rem;
}

.footer-main .main-second li {
  position: relative;
}

.footer-main .main-second li:hover a {
  color: var(--orng);
}

.footer-main .main-second a {
  margin-left: 2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer-main .main-second li::before {
  content: '-';
  position: absolute;
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 200;
  top: -1.25rem;
}

.footer-main img {
  border-radius: 5px;
}

.footer-main .post-item {
  gap: 1rem;
}

.footer-main .post-item h5 {
  font-weight: 400;
  color: #aaaaaa;
  margin-top: 0.3rem;
}

.footer-bottom {
  padding-top: 1rem;
  padding-bottom: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright, .links {
  padding: 0 1rem;
}

.links {
  gap: 2rem;
  font-size: 1rem;
}

/***********************************************
GO to TOP Button
************************************************/
.to-top {
  z-index: 9999;
  position: fixed;
  background-color: var(--orng);
  width: 2.5rem;
  height: 2.5rem;
  bottom: -5rem;
  right: 1.5rem;
  cursor: pointer;
  -webkit-transition: bottom 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out;
}

.to-top i {
  color: var(--white);
  font-size: 1.2rem;
}

/***********************************************
Changed by JS
************************************************/
.sticky {
  background-color: var(--orng) !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.sticky .btn {
  background-color: var(--white);
}

.sticky .btn a {
  color: var(--orng) !important;
}

.sticky .btn:hover {
  background-color: gainsboro;
}

.nav-color a {
  color: var(--white) !important;
}

.none {
  display: none;
}
/*# sourceMappingURL=style.css.map */
