:root {
  --blk: rgb(24, 24, 24);
  --orng: #ff3c00;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  header .container {
    max-width: 960px;
    margin: 0 auto;
  }
  header .header-top::before {
    width: 65%;
  }
  .header-top .container {
    padding: 0;
  }
  .hero-right img {
    max-width: 600px;
  }
  .member-img img {
    max-width: 320px;
  }
  .apointment-right {
    padding: 0;
  }
  .apointment-abs {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-color a {
    color: var(--blk) !important;
  }
  .container {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  header {
    position: relative;
  }
  header .container ul {
    gap: 0;
  }
  .header-top {
    display: none;
  }
  .header-bottom {
    background-color: var(--orng);
  }
  .header-bottom .container {
    padding: 1rem 2.5rem;
  }
  .sticky {
    color: var(--blk);
  }
  .change div:nth-of-type(even) {
    display: none;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .change div:first-child {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
            transform: rotate(-45deg) translate(-5px, 5px);
  }
  .change div:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .hamburger {
    min-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
  }
  .hamburger div {
    background-color: white;
    width: 25px;
    height: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 5px;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .main-logo {
    display: none;
  }
  .header-bottom nav {
    position: absolute;
    left: -100%;
    top: 100%;
    background-color: white;
    height: 100vh;
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header-bottom nav.toggle {
    left: 0;
  }
  .header-bottom ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-bottom ul li {
    width: 100%;
  }
  .header-bottom ul li:not(:nth-of-type(6)) {
    border-bottom: 0.5px solid #d1d1d1;
  }
  .header-bottom ul a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
    padding: 0.8rem 2rem;
  }
  .header-bottom ul i {
    display: none;
  }
  .header-bottom ul i:last-child {
    display: block;
  }
  .header-bottom ul span i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: flex-end;
    color: var(--blk);
    font-size: 0.8rem;
  }
  .header-bottom ul li:hover i {
    color: var(--orng);
  }
  .header-bottom .btn {
    display: none;
  }
  .nav-social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.5rem;
  }
  .nav-social-links span {
    width: 35px;
    height: 35px;
    border: 1px solid var(--orng);
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  .nav-social-links i {
    color: var(--orng);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  .nav-social-links span:hover {
    background-color: var(--orng);
  }
  .nav-social-links span:hover i {
    color: white;
  }
  .hero-left {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-right {
    display: none;
  }
  .service .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service .flex-row {
    gap: 40px;
  }
  .grid-top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .team-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .apointment .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  .apointment-left, .apointment-right {
    width: 100%;
  }
  .apointment-abs {
    margin-left: 0;
  }
  footer .container {
    padding: 0;
  }
  .footer-main {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .work-bottom {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 620px;
    margin: 0 auto;
  }
  .header-bottom nav {
    width: 280px;
  }
  .about .flex-row,
  .choose .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about img,
  .choose img {
    margin-bottom: 1rem;
  }
  .about .single-content-inner,
  .choose .single-content-inner {
    text-align: center;
  }
  .about-left,
  .choose-left,
  .about-right,
  .choose-right {
    width: 100%;
  }
  .single-content .flex-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .apointment-abs {
    padding: 0;
  }
  .service .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service .flex-row {
    gap: 40px;
  }
  .team-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team-bottom img {
    max-width: 500px;
  }
  .subscribe-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .sub-right, .sub-left {
    width: 100%;
  }
  .work-bottom {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    row-gap: 4rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  * > .container, .project .container {
    padding: 0 3rem;
  }
  .footer-main {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}
/*# sourceMappingURL=responsive.css.map */